.header {
    background: url(https://i.loli.net/2019/06/14/5d035a3e4f6e382211.jpg);
}
.site-subtitle {
    color: #FFF;
}

.custom-logo-site-title a:hover, span.exturl:hover {
    border: 0;
}
#qr img {
    width: 160px;
    max-width: 100%;
    display: inline-block;
    margin: 0.8em 1em 0 1em;
}

.text_red {
	color: #f44336;
}
